nav{
    display: flex;
    /* flex: 1 1 0; */
    background-color: #333;
    width: 100%;
    margin: 0;
    /* justify-content: end; */
}
.collapsing-content{
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    margin-right: 2em;
    margin-left: auto;
    justify-self: end;
    margin-top: 0;
    margin-bottom: 0;
    /* align: flex-end; */
}
nav ul li.upper-li{
    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
nav ul li.upper-li:hover{
    background-color: #404040;
}

.logo{
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 1.5em;
}
.nav-link{
    text-decoration: none;
    color: #fff;
}
.my-dropdown{
    position: relative;
}
ul.dropdown-content{
    background-color: #333;
    display: none;
    min-width: 5em;
    box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.71);
    z-index: 999;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 3em;
    left: 1.3em;
    padding-top: 0.7em;
   
}
.show{
    display: block !important;
}
ul.dropdown-content li{
    padding-left: 1em;
    padding-bottom: 0.5em;
    font-size: 1.1em;
}
ul.dropdown-content li:hover{
    background-color: #404040;
    /* color: ; */
}
/* .dropdown-content .nav-link{

} */
